APP_NAME="SIP BLK Wonosobo"
APP_ENV=local
APP_KEY=base64:mKQXnlX0QCPeOiytiJUVVF7W8rmUUPaatR6dHQtMaBA=
APP_DEBUG=false
APP_URL=""
APP_INSTALL="NO"
APP_VERSION="4.1"

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST="localhost"
DB_PORT=3306
DB_DATABASE=""
DB_USERNAME=""
DB_PASSWORD=""

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
MIX_PUSHER_APP_CLUSTER_SECURE="c2f3f489a00553e7a01d369c103c7251"

YOUTUBE_V3_API=AIzaSyCwn6EpkFWbFP9B34opcnOe_ifWc1Uc34I

DEFAULT_LANGUAGE="en"

MAIL_DRIVER="smtp"
MAIL_HOST=""
MAIL_PORT=""
MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_ENCRYPTION=""
MAIL_FROM_ADDRESS=""
MAIL_FROM_NAME=""

PAYPAL_SANDBOX_API_USERNAME=""
PAYPAL_SANDBOX_API_PASSWORD=""
PAYPAL_SANDBOX_API_SECRET=""
PAYPAL_SANDBOX_API_CERTIFICATE=""

FACEBOOK_APP_ID=""
GOOGLE_APP_ID=""

PAYPAL_ENVIRONMENT="production"
PAYPAL_SANDBOX_ACCOUNT="sandbox"
PAYPAL_MODE="sandbox"

PAYPAL_APP_SECRET=""
PAYPAL_CLIENT_ID=""
PAYPAL_SECRET=""

SANDBOX_MERCHANT_ID=""
SANDBOX_PRIVATE_KEY=""
SANDBOX_PUBLIC_KEY=""

STRIPE_KEY=""
STRIPE_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_SECRET=""
GOOGLE_CALLBACK=""

MEDIA_MANAGER="YES"

DEMO="NO"
ADDONS_MANAGER="YES"
THEME_MANAGER="YES"
ACTIVE_THEME="frontend"

FORUM_PANEL="NO"
#forumly,legacy
FORUM_UI="forumly"

PAYTM_ENVIRONMENT=""
PAYTM_MERCHANT_ID=""
PAYTM_MERCHANT_KEY=""
PAYTM_MERCHANT_WEBSITE=""
PAYTM_CHANNEL=""
PAYTM_INDUSTRY_TYPE=""
PAYTM_ACTIVE="NO"

QUIZ_ACTIVE="NO"
ZOOM_ACTIVE="NO"
CERTIFICATE_ACTIVE="NO"
SUBSCRIPTION_ACTIVE="NO"
BLOG_ACTIVE="YES"
COUPON_ACTIVE="NO"
WALLET_ACTIVE="NO"